<%= stylesheet_link_tag 'resistration' %>
<div class="container">
  <div class="big-wrapper">
    <h3>ログイン</h2>
      <div class="wrapper">
        <div class="form">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <dl>
            <dt>メールアドレス</dt>
            <dd class="long"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></dd>
            <%= image_tag "dot.png", class: "dot" %>
            <dt>パスワード</dt>
            <dd class="long"><%= f.password_field :password, autocomplete: "current-password"  %></dd>
            <%= image_tag "dot.png", class: "dot" %>
            <% if devise_mapping.rememberable? %>
              <dt id="remember_me">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </dt>
            <% end %>
            <dd id="login-bottom">
            <%= f.submit "ログイン" %>
            </dd>
            </dl>
          <% end %>
        </div>
      </div>
    </div>
</div>


