<footer>
   <div class="container">
      <nav>
         <!--<%= link_to flavors_path, class: "header-logo" do %>-->
         <!--   <%= image_tag "header-logo" %>-->
         <!--<% end %>-->
         <!--<ul class="footer-list">-->
         <!--   <% if user_signed_in? %>-->
         <!--      <li>-->
         <!--         <%= link_to, destroy_user_session_path do %>-->
         <!--            <%= image_tag "logout.png" %>-->
         <!--         <% end %>-->
         <!--      </li>-->
         <!--   <% else %>-->
         <!--      <li id="sign-up">-->
         <!--         <%= link_to new_user_registration_path do %>-->
         <!--            <%= image_tag "sign-up.png" %>-->
         <!--         <% end %>-->
         <!--      </li>-->
         <!--      <li id="login">-->
         <!--         <%= link_to new_user_session_path do %>-->
         <!--            <%= image_tag "login.png"%>-->
         <!--         <% end %>-->
         <!--      </li>-->
         <!--   <% end %>-->
         </ul>
      </nav>
    </div>
</footer>